{{#foreach posts}}
<article class="post post--item">
  <div class="post--item__main">
    <header>
      <h1 class="gamma post__title"><a href="{{url}}">{{{title}}}</a></h1>
    </header>
    <p>{{excerpt words="28"}}...</p>
  </div>

  <ul class="nav meta post__meta">
    <li>
      <div class="meta__title">Date:</div>
      <time class="meta__data">{{date format="DD MMMM YYYY"}}</time>
    </li>
    {{#if tags}}
    <li>
      <div class="meta__title">Tags:</div>
      <div class="meta__data">{{tags}}</div>
    </li>
    {{/if}}
    <li>
      <div class="meta__title">Written by:</div>
      <div class="meta__data">
        {{#author}}
        <a href="{{url}}">{{name}}</a>
        {{/author}}
      </div>
    </li>
  </ul>
</article>
{{/foreach}}

{{pagination}}