<!DOCTYPE html>
<html>
<head>
  <link rel="dns-prefetch" href="//fonts.googleapis.com">
  <link rel="dns-prefetch" href="//google-analytics.com">

  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  <title>{{meta_title}}</title>
  <meta name="description" content="{{meta_description}}" />

  <link rel="shortcut icon" href="{{asset "favicon.ico"}}">

  <link rel="stylesheet" type="text/css" href="{{asset "css/screen.css"}}" />
  <link href='http://fonts.googleapis.com/css?family=Lato:900' rel='stylesheet' type='text/css'>

  {{ghost_head}}
</head>
<body>
  {{{body}}}

  {{> footer this}}

  {{ghost_foot}}

</body>
</html>
