{{!< default}}

<main role="main" class="container container--small">

  <article class="post">
  {{#post}}

    <header class="post__header">
      <h1 class="post__title">{{title}}</h1>
      <ul class="nav nav--inline meta post__meta">
        <li>
          <div class="meta__title">Date:</div>
          <time class="meta__data">{{date format="DD MMMM YYYY"}}</time>
        </li>
        <li>
          <div class="meta__title">Written by:</div>
          <div class="meta__data">
            {{#author}}
            <a href="{{url}}">{{name}}</a>
            {{/author}}
          </div>
        </li>
        {{#if tags}}
        <li>
          <div class="meta__title">Tags:</div>
          <div class="meta__data">{{tags}}</div>
        </li>
        {{/if}}
      </ul>
    </header>

    <section class="post__body">
      {{content}}
    </section>

  {{/post}}
  </article>

</main>