{{!< default}}

<main role="main" class="container container--small">

  <article class="post" itemscope="" itemtype="http://schema.org/BlogPosting">
  {{#post}}

    <header class="post__header">
      <h1 class="post__title" itemprop="name headline">{{title}}</h1>
      <ul class="nav nav--inline meta post__meta">
        <li>
          <div class="meta__title">Date:</div>
          <time class="meta__data" itemprop="datePublished">{{date format="DD MMMM YYYY"}}</time>
        </li>
        <li itemprop="author" itemtype="http://schema.org/Person">
          <div class="meta__title">Written by:</div>
          <div class="meta__data" itemprop="author">
            {{#author}}
            <a href="{{url}}" itemprop="url" rel="author">{{name}}</a>
            {{/author}}
          </div>
        </li>
        {{#if tags}}
        <li>
          <div class="meta__title">Tags:</div>
          <div class="meta__data">{{tags}}</div>
        </li>
        {{/if}}
      </ul>
    </header>

    <section class="post__body" itemprop="articleBody">
      {{content}}
    </section>

  {{/post}}
  </article>

</main>